<!DOCTYPE html>
<html>
    <head>
        <title>お店一覧</title>
        <mata charset="UTF-8">
    </head>
    <body>
        <h1>お店一覧</h1>
        <br />
        <table>
        {% for food in foods %}
        <a href= >{{ food.title }}</a>
    
    {% endfor %}
    </table>
    </body>
</html>