<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>hungry</title>
    </head>
    <body>
        <h1>Food</h1>
        <p>探しているお店やメニュー</p>
        <form action="" method=post>
                {% csrf_token %}
                <label for="titleInput">店名</label>
                <input id="titleInput" name="title" type="text">
                <label for="textInput">メニュー</label>
                <textarea id="textInput" name="text"></textarea>
                <button type="submit">登録</button>
            </form>
    </body>
</html>